<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.7" targetFramework="net471" />
  <package id="GoogleAnalyticsTracker.Core" version="5.0.0" targetFramework="net471" />
  <package id="GoogleAnalyticsTracker.Simple" version="5.0.0" targetFramework="net471" />
</packages>